{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}


<div class="attention">
  <p>
    <a href="https://NLnet.nl" name="ack"> <img src="https://NLnet.nl/logo/banner.png"
        alt="Logo NLnet: abstract logo of four people seen from above" class="logocenter" /> </a> <a
      href="https://NLnet.nl/NGI0"> <img src="https://NLnet.nl/image/logos/NGI0Entrust_tag.svg"
        alt="Logo NGI Zero: letterlogo shaped like a tag" class="logocenter" /> </a>
  </p>
  <p>This project was funded through the <a href="https://NLnet.nl/entrust">NGI0 Entrust</a> Fund, a fund established by
    <a href="https://nlnet.nl">NLnet</a> with financial support from the European Commission's <a
      href="https://ngi.eu">Next Generation Internet</a> programme, under the aegis of DG Communications Networks,
    Content and Technology under grant agreement N<sup>o</sup> 101069594.</p>
</div>

{{ end }}